.form-left-column {
    float: left;
}

.form-right-column {
    float: right;
}

@mixin headerTest {
    color: red;
}

@mixin alleleField {
    label {
        margin-left: auto;
        margin-right: auto;
        color: green;
    }
}

.allele-field {
    @include alleleField;
}

.test-class {
    @include headerTest
}