{% from 'bootstrap5/form.html' import render_field %}


<form id="genotypesForm" method="post">
    <div class="d-flex">
        {% if 'csrf_token' in form %}
            {{ form.csrf_token() }}
        {% endif %}

        <div class="d-table">


            {% for f in form.fields %}

                <div class="d-table-row">

                    <h1>{{ f.name }}</h1>

                    <div class="w-50 float-left">

                        <h2>X_</h2>
                        
                        <div>
                            {% for option in f.choices %}
                                <label for="{{f.name}}-first">
                                    <input type="radio" name="{{f.name}}-first" value="{{option}}"/>{{option}}
                                </label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="w-50 float-right">

                        <h2>_X</h2>

                        <div class="d-block float-right">
                            {% for option in f.choices %}
                                <label for="{{f.name}}-second">
                                    <input type="radio" name="{{f.name}}-second" value="{{option}}"/>{{option}}
                                </label>
                            {% endfor %}
                        </div>

                    </div>

                </div>

                <br/>





                        <!-- {{f.data.firstAllele}} -->
                        <!-- {% for option in f.data %}
                            {{ option }}
                        {% endfor %} -->

                        <!-- {% for choice in f.form %}
                            yes
                            {{ choice.fieldName }}
                        {% endfor %} -->


                        <!-- {{ f.firstAllele.choices|pprint }} -->


                        <!-- {% for a in f.firstAllele %}
                            {{ a }}
                        {% endfor %} -->
                    

                <!-- </div> -->

                <!-- <br/> -->

            {% endfor %}
        </div>

    </div>

    <div class="d-flex justify-content-center">
        {{ render_field(form.submit) }}
    </div>

</form>
