{% from 'bootstrap5/form.html' import render_field %}


<form method="post">
    <div class="d-flex">
        {% if 'csrf_token' in form %}
            {{ form.csrf_token() }}
        {% endif %}


        {% for field in form.fields %}
            <label for="{{ field }}-first">X_
                <input type="radio" name="{{field}}-first" value="A" />A
            </label>
            <label for="{{ field }}-first">
                <input type="radio" name="{{field}}-first" value="a" />a
            </label>

            <label for="{{field}}-second">_X
                <input type="radio" name="{{field}}-second" value="A" />A
            </label>
            <label for="{{field}}-second">
                <input type="radio" name="{{field}}-second" value="a" />a
            </label>
        {% endfor %}

        <!-- <div class="allele-field">
            <label for="{{ form.groups[0] }}-first">X_
                <label for="testFirst">
                    <input type="radio" id="testFirst" name="{{ form.groups[0] }}-first" value="A" /> A
                </label>
                <label for="testSecond">
                    <input type="radio" id="testSecond" name="{{ form.groups[0] }}-first" value="a" /> a
                </label>

            </label>
        </div> -->

    </div>

    <div class="d-flex justify-content-center">
        {{ render_field(form.submit) }}
    </div>

</form>
